
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table>
                <tbody>
                  <tr>
                    <td>Correo</td>
                    <td>
                        <input type="text" name="correo"/>
                    </td>
                  </tr>
                  <tr>
                    <td>Nombres</td>
                    <td>
                        <input type="text" name="nombres"/>
                    </td>
                  </tr>
                  <tr>
                    <td>Apellidos</td>
                    <td>
                        <input type="text" name="apellidos"/>
                    </td>
                  </tr>
                  <tr>
                    <td>Teléfono</td>
                    <td>
                        <input type="text" name="telefono"/>
                    </td>
                  </tr>
                  <tr><br></tr>
                  <tr><br></tr>
                  <tr><br></tr>
                  <tr><br></tr>
                  <tr>
                    <td><a href="#" class="btn btn-success">Actulizar Datos</a></td>
                    <td><a href="#" class="btn btn-success">Cerrar Sesión</a></td>  
                  </tr>
                </tbody>
              </table>
            
          </div>
            
    </div>
</div>


