<nav class="nav nav-pills flex-column border-end border-success navbar-collapse"  [ngClass]="{ 'collapse': isCollapse }">   
    <a class="nav-link" routerLinkActive="active" routerLink="/cuentas" >Inicio</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/agregar-cuenta" >Agregar cuenta</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/ingresos">Ingresos</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/egresos">Egresos</a>
    <a class="nav-link" routerLinkActive="active" routerLink="/estadisticas">Estadísticas</a>
</nav>      

<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>


