  <div class="container-fluid">
    <div class="row">
        <div class="col">
          <div class="card border-success">
              <div class="card-body">
                <h5 class="card-title">Cuenta de ahorros</h5>
                <p class="card-text">Esta es mi cuenta de ahorros del banco X.</p>
                <h3> 3'000.000 COP </h3>
                <a href="#" class="btn btn-success">Ver transacciones</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card border-success">
              <div class="card-body">
                <h5 class="card-title">Dinero efectivo</h5>
                <p class="card-text">Acá registro en que gasto mi platica.</p>
                <h3> 3'000.000 COP </h3>
                <a href="#" class="btn btn-success">Ver transacciones</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div class="card border-success">
              <div class="card-body">
                <h5 class="card-title">Ahorro vaje a Italia</h5>
                <p class="card-text">Acá guardo mi plata para ir a comer pizza.</p>
                <h3> 3'000.000 COP </h3>
                <a href="#" class="btn btn-success">Ver transacciones</a>
              </div>
            </div>
        </div>
        <div class="col">
          <div >
              <div class="card-body">
                <a routerLink="/agregar-cuenta">
                    <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-plus-circle text-success" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                    </svg>
                </a>
              </div>
            </div>
        </div>
    </div>
</div>

