<div class="container-logo">
  <div class="row">
    <svg xmlns="http://www.w3.org/2000/svg" width="300" height="300" fill="currentColor" class="bi bi-wallet2 text-success" viewBox="0 0 16 16">
      <path d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499L12.136.326zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484L5.562 3zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"/>
    </svg>
  </div>
  <br>
  <br>
  <div class="row">
        <div class="container-sm">
            <div class="row justify-content-evenly">
                <div class="col-4">
                    <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#iniciarSesion">Iniciar sesión</button>
                </div>
                <div class="col-4">
                    <button type="button" class="btn btn-outline-success btn-lg" data-bs-toggle="modal" data-bs-target="#registrarse">Registrarse</button>
                </div>
            </div>
        </div>
  </div>
</div>


<!-- Modal Iniciar sesión-->
<div class="modal fade" id="iniciarSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Iniciar sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        CAMPOS
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="acceder()" data-bs-dismiss="modal" aria-label="Close">Iniciar sesión</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Resgitrarse-->
<div class="modal fade" id="registrarse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Registrarse</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <table>
          <tbody>
            <tr>
              <td>Correo (Usuario)</td>
              <td>
                <input type="text" name="correo" id="Correo" />
              </td>
            </tr>
            <tr>
              <td>Contraseña</td>
              <td>
                <input type="text" name="contrasena" id="Contrasena"/>
              </td>
            </tr>
            <tr>
              <td>Repetir Contraseña</td>
              <td>
                <input type="text" name="contrasenaConfirmada" id="ContrasenaConfirmada"/>
              </td>
            </tr>
            <tr>
              <td>Nombres</td>
              <td>
                <input type="text" name="nombres" id="Nombres"/>
              </td>
            </tr>
            <tr>
              <td>Apellidos</td>
              <td>
                <input type="text" name="apellidos" id="Apellidos"/>
              </td>
            </tr>
            <tr>
              <td>Teléfono</td>
              <td>
                <input type="text" name="telefono" id="Telefono"/>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" (click)="registrarse()" data-bs-dismiss="modal"
          aria-label="Close">Enviar</button>
        <button type="button" class="btn btn-outline-success" (click)="cancelar()" data-bs-dismiss="modal"
          aria-label="Close">Cancelar</button>
      </div>
    </div>
  </div>
</div>