<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table>
                <tbody>
                  <tr>
                    <td>Nombre</td>
                    <td>
                        <input type="text" name="Nombre"/>
                    </td>
                  </tr>
                  <tr>
                    <td>Saldo Inicial</td>
                    <td>
                        <input type="text" name="Saldo Inicial"/>
                    </td>
                  </tr>
                  <tr>
                    <td>Tope Mínimo</td>
                    <td>
                        <input type="text" name="Tope"/>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="#" class="btn btn-success">Agregar</a></td>
                    
                  </tr>
                </tbody>
              </table>
            
          </div>
            
    </div>
</div>