<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table>
                <tbody>
                  <tr>
                    <td>Nombre</td>
                    <td>
                        <input type="text" name="Nombre" id="nombre"/>
                    </td>
                  </tr>
                  <tr>
                    <td>Descripción</td>
                    <td>
                        <input type="text" name="Descripcion" id="descripcion"/>
                    </td>
                  </tr>
                  <tr>
                    <td><a (click)="agregarCuenta()" routerlink="/cuentas" class="btn btn-success">Agregar</a></td>                    
                  </tr>
                </tbody>
              </table>            
          </div>            
    </div>
</div>