<div class="text-center">
  <h1>
    {{cuenta}}
  </h1>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Fecha</th>
      <th scope="col">Descripción</th>
      <th scope="col">Tipo</th>
      <th scope="col">Destinatario</th>
      <th scope="col">Monto</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let transaccion of transacciones">
      <th scope="row">{{ transaccion.id }}</th>
      <td>{{ transaccion.fecha | date }}</td>
      <td>{{ transaccion.descripcion }}</td>
      <td>{{ getTipo(transaccion.tipo) }}</td>
      <td>{{ transaccion.destinatario }}</td>
      <td>$ {{ transaccion.monto | number:'4.2-2' }}</td>
    </tr>
    <tr>
      <th></th>
      <td></td>
      <td></td>
      <td><strong>Total</strong></td>
      <td >$ {{ getTotal() | number:'4.2-2' }}</td>
    </tr>
  </tbody>
</table>
<a  data-bs-toggle="modal" data-bs-target="#iniciarSesion" class="btn btn-outline-success ">
  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
    <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
  </svg>
</a>

<!-- Modal Eliminar cuenta-->
<div class="modal fade" id="iniciarSesion" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">¿Eliminar cuenta=</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>¿Estás seguro de que quieres eliminar esta cuenta?</h3>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal"
          aria-label="Close">No</button>
          <button type="button" class="btn btn-outline-danger" (click) = "eliminarCuenta();" data-bs-dismiss="modal" aria-label="Close">Si</button>
      </div>
    </div>
  </div>
</div>